html {
    background-color: lightblue;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 500px;
    position: relative;
    background-color: lightgray;
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 20px 20px;
    position: absolute;
    top: 100px;
    background-color: lightcoral;
}

.element {
    height: 200px;
    min-width: 200px;
    background-color: white;
    margin: 0px 50px;
    text-align: center;
}

#scroll-bar {
    width: 100%;
    height: 100px;
    background-color: lightcyan;
    position: relative;
}

#scroll-thumb {
    width: 100px;
    height: 100%;
    background-color: black;
    position: absolute;
}
