body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: #333;
}

canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}

.controls {
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#gaoyin-image {
    position: absolute;
    width: 100px;
    top: 205px;
    left: 100px;
}

#diyin-image {
    position: absolute;
    width: 70px;
    top: 245px;
    left: 110px;
}

/* Toggle switch styles */
.toggle {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.toggle .slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle .slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked + .slider {
    background-color: #007bff;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
}

.toggle .label {
    font-size: 16px;
    color: #333;
}

.bar {
    display: flex;
}

#score-counting {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#clearCount {
    margin-left: 20px;
}