.note-stack-container {
    min-height: 100px;
}

.note-stack {
    min-height: 20px;
}

.note-bar {
    height: 1px;
    background-color: var(--bs-gray-400);
}

.note-bar.active {
    height: 10px;
    border-radius: 5px;
    background-color: var(--bs-red);
}