.note-stack-container {
    min-height: 100px;
}

.note-stack {
    height: 20px;
}

.note-bar {
    height: 1px;
    background-color: var(--bs-gray-400);
}

.note-bar.target,
.note-bar.hidden_target {
    height: 10px;
    border-radius: 5px;
}

.note-bar.target {
    background-color: var(--bs-gray-400);
}

.note-bar.hidden_target {
    width: 0;
    background-color: var(--bs-red);
    transition: none;
}

.note-bar.hidden_target.active {
    width: 100%;
    transition-property: all;
    transition-timing-function: linear;
}

.note-legend {
    height: 20px;
}

@media screen and (min-width: 576px) {
    .note-legend-container {
        right: 6vw;
    }
}

@media screen and (max-width: 576px) {
    .note-legend-container {
        display: none;
    }
}